.link{
    color:3C4043; 
    font-family:14px arial,sans-serif; 
    padding: 1px 0px 0px;
}
.header{
    color:1A0DAB; 
    font-family:20px arial,sans-serif; 
    margin: 0px 0px 3px; 
    padding: 4px 0px 0px;
}
.st{
    color:3C4043; 
    font-family:14px arial,sans-serif;
}