<div id="wrapper">
  <app-templatemenu></app-templatemenu>
  <div id="content-wrapper" class="d-flex flex-column">
    <div class="content">
      <app-templateheader></app-templateheader>
      <div class="container-fluid">
        <div class="card shadow mb-4">
          <!-- <div class="card shadow mb-4"> -->
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Request</h6>
          </div>
          <div class="card-body">
            <div class="mb-4">
              <div id="validation">
                <div class="alert alert-danger" role="alert" [hidden]="!requirefromdate">Please select from date.</div>
                <div class="alert alert-danger" role="alert" [hidden]="!requiretodate">Please select to date.</div>
              </div>
            </div>
            <form class="form" role="form" autocomplete="off">
              <div class="form-group row">
                <div class="col-sm">
                  <input type="search" class="form-control form-control-sm" placeholder="Requested by"
                    aria-controls="dataTable" [(value)]="requestedby">
                </div>
                <div class="col-sm">
                  <input type="search" class="form-control form-control-sm" placeholder="Approve by"
                    aria-controls="dataTable" [(value)]="approveby" (keyup)="onkeysearchfield1($event)">
                </div>
                <div class="col-sm">
                  <input class="form-control form-control-sm" placeholder="From date" bsDatepicker
                    (bsValueChange)="onkeysearchfield2($event)" [bsConfig]="bsConfigFromdate" [(bsValue)]="fromdate">
                </div>
                <div class="col-sm">
                  <input class="form-control form-control-sm" placeholder="From date" bsDatepicker
                    (bsValueChange)="onkeysearchfield3($event)" [bsConfig]="bsConfigTodate" [(bsValue)]="todate">
                </div>
                <div class="col-sm">
                  <div class="dropdown" style="text-align-last:center; text-align: center;">
                    <select class="btn btn-danger btn-user btn-block dropdown-toggle btn-sm" [(value)]="statusselect"
                      (change)="onkeysearchfield4($event.target.value)">
                      <option selected [value]="null">Status</option>
                      <option *ngFor="let lookupcmsstatus of lookupcmsstatus | async" [value]="lookupcmsstatus.code">
                        {{lookupcmsstatus.code}}&#58;&#32;{{lookupcmsstatus.description}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm">
                  <a class="btn btn-success btn-icon-split btn-sm">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <button type="submit" id="btnsave" class="btn btn-success btn-sm" (click)="search()">Search</button>
                  </a>
                  <span>&nbsp;</span>
                  <a class="btn btn-danger btn-icon-split btn-sm">
                    <span class="icon text-white-50">
                      <i class="fas fa-remove-format"></i>
                    </span>
                    <button type="reset" value="" class="btn btn-danger btn-sm">Clear</button>
                  </a>
                </div>
              </div>
            </form>
            <div class="table-responsive">
              <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                <thead class="thead-dark">
                  <tr>
                    <th>CID</th>
                    <th>CDesc</th>
                    <!-- <th>pageID</th> -->
                    <th>Req. By</th>
                    <th>Req. On&nbsp;&nbsp;&nbsp;</th>
                    <th>Req. Remark</th>
                    <th>Apr. By</th>
                    <th>Apr. On</th>
                    <th>Apr. Remark</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody *ngFor="let cmsrequest of cmsrequest|async">
                  <tr>
                    <td>{{cmsrequest.changeID}}</td>
                    <td>{{cmsrequest.changeDESC}}</td>
                    <!-- <td>{{cmsrequest.pageID}}</td> -->
                    <td>{{cmsrequest.requestBy}}</td>
                    <td>{{cmsrequest.requestOn | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{cmsrequest.requestRemark}}</td>
                    <td>{{cmsrequest.approvedBy1}}</td>
                    <td>{{cmsrequest.approvedOn1 | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{cmsrequest.approveRemark}}</td>
                    <td [style.color]="cmsrequest.changeStatus=='Approved'? 'green' : cmsrequest.changeStatus=='Rejected'? 'red' : 'blue'">{{cmsrequest.changeStatus}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-templatefooter></app-templatefooter>
  </div>
</div>